body{
    background-color:#ecdc82;
    font-family:Arial;
}

.titulo{
    text-align:center;
    margin-top:30px;
}

.titulo h1{
    font-size:45px;
    color:#222;
}

.titulo p{
    color:gray;
}

.contenedor{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:50px;
}

.tarjeta{
    background-color:rgb(250, 249, 247);
    width:280px;
    padding:20px;
    border-radius:15px;
    text-align:center;
    box-shadow:0px 5px 15px rgba(0,0,0,0.1);
}

.foto{
    width:180px;
    height:180px;
    border-radius:100%;
    object-fit:cover;
}

.tarjeta h2{
    margin-top:15px;
}

.tarjeta a,
.perfil a{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background-color:#222;
    color:white;
    text-decoration:none;
    border-radius:10px;
}

.perfil{
    width:500px;
    margin:auto;
    margin-top:40px;
    background-color:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0px 5px 15px rgba(0,0,0,0.1);
}

.fotoGrande{
    width:220px;
    border-radius:100%;
    display:block;
    margin:auto;
}